<div class="login-container">
  <!-- Logo -->
  <div class="login-left">
    <img src="../../../../assets/CONVAM.png" alt="Login Illustration" class="login-image">
  </div>

  <!-- Formulario de Login -->
  <div class="login-right">
    <div class="login-form-container">
      <h1 class="login-title">¡Bienvenido!</h1>

      <form class="login-form">
        <div class="form-group">
          <label for="email" class="form-label">Usuario</label>
          <input type="email" class="form-control" id="email" placeholder="Usuario/Número de telefono" required>
        </div>

        <div class="form-group">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" placeholder="••••••••" required>
        </div>

        <button type="submit" class="btn btn-primary login-btn">Iniciar Sesión</button>
        <a href="verify-code" class="forgot-link">Verificación</a>
        <div class="divider">
          <span></span>
        </div>
        
        <!-- <button type="button" class="btn btn-google">
          <img src="../../../../assets/Google_logo.png" alt="" class="google-icon">
          Iniciar sesión con Google
        </button> -->
        
        <div class="forgot-password">
          <a href="/reset-passw" class="forgot-link">¿Olvidaste tu contraseña? Click aquí</a>
        </div>
      </form>

      <div class="footer">
        <p>2025 CONVAM.</p>
      </div>
    </div>

  </div>
</div>

