<span class="custom-form-container">
  <form class="custom-form">
    <h4 class="text-center mb-4">Iniciar Sesión</h4>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ejemplo@correo.com" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="••••••••">
    </div>

    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Recordarme</label>
    </div> -->

    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
</span>