<div class="verification-container">
  <div class="verification-card">
    <div>
      
    </div>
    
  </div>
</div>


<!-- <h1 class="verification-title">Código de verificación</h1>
    
    <p class="verification-description">
      Introduce el código de verificación que hemos enviado.<br>
    </p>

    <div class="divider"></div>

    <div class="code-inputs">
      <input type="text" class="code-input" id="code" placeholder="Token">
    </div>

    <div class="error-message">
      <span class="error-icon">⚠</span>
      ¡Error! Código incorrecto
    </div>

    <div class="resend-section">
      <p class="resend-text">¿No has recibido el código?</p>
      <button class="resend-button" >Probar de nuevo</button>
    </div> -->