<div class="reset-container">
    <!-- Logo / imagen lateral -->
  <div class="reset-left">
    <img src="../../../../assets/CONVAM.png" alt="Logo CONVAM" class="reset-image">
  </div>

    <!-- Formulario de Reset Password -->
  <div class="reset-right">
    <div class="reset-form-container">
      <h2 class="text-center">Recupera tu contraseña</h2>
      <p class="text-description">Ingresa tu correo electrónico y te enviaremos instrucciones para restablecer tu contraseña.</p>

      <form class="reset-form">
        <div class="form-group">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="email" placeholder="Usuario/Número de telefono" required>
        </div>

        <button type="submit" class="btn btn-primary reset-btn">Enviar enlace</button>

        <div class="divider">
          <span></span>
        </div>

        <div class="back-to-reset">
          <a href="/login" class="forgot-link">← Volver al inicio de sesión</a>
        </div>
      </form>
      
        <div class="footer">
        <p>2025 CONVAM.</p>
        </div>
    </div>
  </div>

</div>
